<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portal.community.dao.FaqDao">

    <select id="search" parameterType="map" resultType="ParamMap">
        WITH WW AS (
	     	SELECT  
		            A.FAQ_ID
		    ,       A.QUESTION
		    ,       A.ANSWER
		    ,       A.SORT_NO
		    ,       A.USE_YN
	        ,	    ROW_NUMBER() OVER (ORDER BY SORT_NO) RID
	        ,		A.CMGRP_CD
		    FROM    FAQ     A 
		    WHERE   A.USE_YN	= 'Y'
		    <if test="loginCmgrpCd != null">
    AND	   CMGRP_CD	   = #{loginCmgrpCd}
    </if>
		)
		SELECT
		       * 
		  FROM WW
		  WHERE  CMGRP_CD	   = #{loginCmgrpCd}
	     ORDER BY RID
        <!-- OFFSET ${startPage} ROWS FETCH NEXT 5 ROWS ONLY -->
    </select>
    
    <select id="searchDetail" parameterType="map" resultType="ParamMap">
        WITH WW AS (
	     	SELECT  
		            A.FAQ_ID
		    ,       A.QUESTION
		    ,       A.ANSWER
		    ,       A.SORT_NO
		    ,       A.USE_YN
	        ,	    ROW_NUMBER() OVER (ORDER BY SORT_NO) RID
	        ,		A.CMGRP_CD
		    FROM    FAQ     A 
		    WHERE   A.USE_YN	= 'Y'
		    <if test="loginCmgrpCd != null">
    AND	   CMGRP_CD	   = #{loginCmgrpCd}
    </if>
		)
		SELECT
		       * 
		  FROM WW
	     WHERE FAQ_ID = #{faqId}
	     <if test="loginCmgrpCd != null">
     AND	   CMGRP_CD	   = #{loginCmgrpCd}
     </if>
    </select>
    
    
    <select id="count" resultType="int">
        SELECT  
                COUNT(*) CNT
        FROM    FAQ     A 
    </select>
</mapper>