<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portal.template.dao.Template2Dao">

	<!-- 조회 -->
    <select id="search" parameterType="map" resultType="ParamMap">
        SELECT  
                A.MSG_ID
        ,       A.MSG_CONTENTS
        ,       A.USE_YN
        FROM    MESSAGE  A 
        WHERE   1=1
        <if test="msgNm != null">
        AND   A.MSG_CONTENTS LIKE '%' + #{msgNm} + '%'
        </if>
        <if test="msgId != null">
        AND   A.MSG_ID LIKE '%' + #{msgId} + '%'
        </if>
        <if test="useYn!= null">
        AND   A.USE_YN = #{useYn}
        </if>
        ORDER   BY
                A.MSG_ID
        
    </select>
    
    <!-- 저장 -->
    <insert id="save"  parameterType="map">
        MERGE INTO MESSAGE A
        USING (SELECT 'A' AS A) B
        ON  A.MSG_ID = #{msgId}
        WHEN    MATCHED THEN
                UPDATE
                SET
                    MSG_CONTENTS    = #{msgCon}
                ,   USE_YN          = #{useYn}
                ,   UPDATE_BY       = #{loginUserId}
                ,   UPDATE_DATE     = NOW()
        WHEN    NOT MATCHED THEN
                INSERT
                (
                    MSG_CONTENTS    
                ,   USE_YN          
                ,   CREATE_BY       
                ,   CREATE_DATE   
                )
                VALUES
                (
                    #{msgCon}
                ,   #{useYn}
                ,   #{loginUserId}
                ,   NOW()
                );

    </insert>
    
    <!-- 삭제 -->
    <delete id="delete" parameterType="map">
        DELETE  FROM MESSAGE
        WHERE   MSG_ID  = #{msgId}
    </delete>
</mapper>