<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portal.admin.dao.EsgDagnssItmDao">

	<!-- 조회 -->
    <select id="search" parameterType="map" resultType="ParamMap">
        select	
				a.esg_domain 
		,		fn_code_name('ESG_DOMAIN', a.esg_domain) esg_domain_name
		,		a.esg_ctgry 
		,		fn_code_name('ESG_CTGRY', a.esg_ctgry) esg_ctgry_name
		,		a.esg_classification_no 
		,		a.dagnss_itm 
		,		a.dagnss_itm_desc
		,		a.basic_advance 
		,		fn_code_name('BASIC_ADVANCE', a.basic_advance) basic_advance_name
		,		a.aplcn_method 
		,		fn_code_name('APLCN_METHOD', a.aplcn_method) aplcn_method_name
		,		a.is_attach_files 
		,		a.use_yn 
		,		a.sort_no
		from 	esg_dagnss_itm a 
		where 	1 = 1
		<if test="esgDomain != null">
		and 	a.esg_domain	= #{esgDomain}
		</if>
		<if test="esgCtgry != null">
		and		a.esg_ctgry		= #{esgCtgry}
		</if>
		<if test="dagnssItm != null">
		and     a.dagnss_itm   like '%' || #{dagnssItm} || '%'
		</if>
		ORDER	BY
				A.SORT_NO
    </select>
    
    <!-- 저장 -->
    <insert id="save"  parameterType="map">
        MERGE 	INTO ESG_DAGNSS_ITM A
		USING 	(SELECT 'A' AS A) B
		ON 		A.ESG_CLASSIFICATION_NO = #{esgClassificationNo}
		WHEN 	NOT MATCHED THEN
		INSERT 
		(
			ESG_DOMAIN
		,	ESG_CTGRY
		,	ESG_CLASSIFICATION_NO
		,	DAGNSS_ITM
		,	DAGNSS_ITM_DESC
		,	APLCN_METHOD
		,	BASIC_ADVANCE
		,	IS_ATTACH_FILES
		,	USE_YN
		,	SORT_NO
		)
		VALUES
		(
			#{esgDomain}
		,	#{esgCtgry}
		,	#{esgClassificationNo}
		,	#{dagnssItm}
		,	#{dagnssItmDesc}
		,	#{aplcnMethod}
		,	#{basicAdvance}
		,	#{isAttachFiles}
		,	#{useYn}
		,	fn_to_number(#{sortNo})
		)
		WHEN 	MATCHED THEN
		UPDATE
		SET
			ESG_DOMAIN				= #{esgDomain}
		,	ESG_CTGRY				= #{esgCtgry}
		,	DAGNSS_ITM              = #{dagnssItm}
		,	DAGNSS_ITM_DESC         = #{dagnssItmDesc}
		,	APLCN_METHOD            = #{aplcnMethod}
		,	BASIC_ADVANCE           = #{basicAdvance}
		,	IS_ATTACH_FILES         = #{isAttachFiles}
		,	USE_YN                  = #{useYn}
		,	SORT_NO					= fn_to_number(#{sortNo})
		;

    </insert>
    
    <!-- 삭제 -->
    <delete id="delete" parameterType="map">
        DELETE	FROM ESG_DAGNSS_ITM
        WHERE	ESG_CLASSIFICATION_NO = #{esgClassificationNo}
    </delete>
</mapper>