<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portal.admin.dao.EsgInspCriteriaDao">
    
    <!-- 점검 기준 조회 -->
    <select id="search" parameterType="map" resultType="ParamMap">
        select 
                a.esg_classification_no
        ,       a.sq_no
        ,       a.inspection_criteria
        from    esg_inspection_criteria a
        where   1 = 1
        <if test="esgClassificationNo != null">
        and     a.esg_classification_no = #{esgClassificationNo}
        </if>
        order   by
                a.esg_classification_no
        ,       a.sq_no
    </select>
    
    <!-- 점검 기준 중복 체크용 -->
    <select id="searchCount" parameterType="map" resultType="ParamMap">
        select  count(*) cnt
        from    esg_inspection_criteria    a
        where   a.esg_classification_no    = #{esgClassificationNo}
        and     a.sq_no                    = fn_to_number(#{sqNo})
    </select>

    <!-- 점검 기준 저장 -->
    <insert id="save" parameterType="map">
        merge   into esg_inspection_criteria    a
        using   (select 'a' as a)     b
        on      a.esg_classification_no = #{esgClassificationNo}
        and     a.sq_no                 = fn_to_number(#{sqNo})
        when    not matched then
                insert
                (
                    esg_classification_no
                ,   sq_no
                ,   inspection_criteria
                )
                values
                (
                    #{esgClassificationNo}
                ,   fn_to_number(#{sqNo})
                ,   #{inspectionCriteria}
                )
        when    matched then
                update
                set
                    inspection_criteria = #{inspectionCriteria}
        ;
    </insert>

    <!-- 점검 기준 삭제 -->
    <delete id="delete" parameterType="map">
        delete  from esg_inspection_criteria
        where   esg_classification_no   = #{esgClassificationNo}
        and     sq_no                   = fn_to_number(#{sqNo})
    </delete>
</mapper>