<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portal.admin.dao.MenuDao">


    <select id="search"  parameterType="map" resultType="ParamMap">
        SELECT
                A.MENU_ID
        ,       A.MENU_NM
        ,       A.MENU_PATH
        ,       A.MENU_URL
        ,       A.SORT_NO
        ,       A.USE_YN
        ,       A.SOURCE_DIV
        FROM    MENU    A 
        WHERE   1=1
        <if test="menuName != null">
        AND     A.MENU_NM LIKE '%' + #{menuName} + '%'
        </if>
        <if test="upprMenuId == null and menuId == null">
        AND     A.UPPR_MENU_ID IS NULL
        </if>
        <if test="upprMenuId != null">
        AND     A.UPPR_MENU_ID = #{upprMenuId}
        </if>
        <if test="menuId != null">
        AND		A.MENU_ID = #{menuId}
        </if>
        ORDER   BY
                A.SORT_NO

    </select>
    <select id="searchMenuCount"  parameterType="map" resultType="ParamMap">
        SELECT
                COUNT(*) CNT
        FROM    MENU    A 
        WHERE   A.MENU_ID = #{menuId}
    </select>
    <insert id="save"  parameterType="map">
        MERGE INTO MENU A
        USING (SELECT 'A' AS A) B
        ON  A.MENU_ID = #{menuId}
        WHEN    MATCHED THEN
                UPDATE
                SET
                    MENU_NM         = #{menuNm}
                <if test="menuPath != null">
                ,   MENU_PATH       = #{menuPath}
                </if>
                <if test="menuUrl != null">
                ,   MENU_URL        = #{menuUrl}
                </if>
                ,   UPPR_MENU_ID    = #{upprMenuId}
                ,   SORT_NO         = FN_TO_NUMBER(#{sortNo})
                ,   USE_YN          = #{useYn}
                ,   UPDATE_BY       = #{loginUserId}
                ,   UPDATE_DATE     = NOW()
        WHEN    NOT MATCHED THEN
                INSERT
                (
                    MENU_ID
                ,   MENU_NM
                <if test="menuPath != null">
                ,   MENU_PATH
                </if>
                <if test="menuUrl != null">
                ,   MENU_URL
                </if>
                ,   UPPR_MENU_ID
                ,   SORT_NO
                ,   USE_YN
                ,   CREATE_BY
                ,   CREATE_DATE
                )
                VALUES
                (
                    #{menuId}
                ,   #{menuNm}
                <if test="menuPath != null">
                ,   #{menuPath}
                </if>
                <if test="menuUrl != null">
                ,   #{menuUrl}
                </if>
                ,   #{upprMenuId}
                ,   FN_TO_NUMBER(#{sortNo})
                ,   #{useYn}
                ,   #{loginUserId}
                ,   NOW()
                );

    </insert>

    <!-- 상위 메뉴 삭제 -->
    <delete id="delete" parameterType="map">
        DELETE MENU
        WHERE  MENU_ID = #{upprMenuId}
        OR     UPPR_MENU_ID = #{upprMenuId}
    </delete>

    <!-- 하위 메뉴 삭제 -->
    <delete id="deleteDetail" parameterType="map">
        DELETE MENU
        WHERE  MENU_ID = #{menuId}
    </delete>
</mapper>