<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portal.admin.dao.UserPermissionsDao">

    
    <select id="search" parameterType="map" resultType="ParamMap">
       SELECT  
                A.USER_ID   
        ,       A.USER_NAME    
        ,       A.DEPT_CODE
        ,       A.DEPT_NAME
        ,       A.ROLE_ID
        ,       (SELECT ROLE_NM FROM ROLE WHERE ROLE_ID = A.ROLE_ID) ROLE_NM
        ,       A.ACCESS_IP
        FROM    USER_INFO   A 
        WHERE   1=1
        <if test="userId != null">
        AND     USER_ID LIKE '%' + #{userId} + '%'
        </if>
        <if test="userName != null">
        AND     USER_NAME LIKE '%' + #{userName} + '%'
        </if>
        <if test="roleId != null">
        AND     ROLE_ID LIKE '%' + #{roleId} + '%'
        </if>
        ORDER   BY
                A.USER_ID
    </select>
    <select id="searchRole" parameterType="map" resultType="ParamMap">
        SELECT  
                A.ROLE_ID
        ,       A.ROLE_NM
        ,       A.USE_YN
        FROM    ROLE    A 
        WHERE   A.USE_YN    =  'Y'
        <if test="roleNm != null">
        AND     A.ROLE_NM   LIKE '%' + #{roleNm} + '%'
        </if>
        ORDER   BY
                A.ROLE_ID
    </select>
    
    <insert id="saveUserRole" parameterType="map">
        MERGE   INTO USER_INFO  A
        USING   (SELECT 'A' AS A) B
        ON      A.USER_ID       = #{userId}
        WHEN    MATCHED THEN
                UPDATE
                SET
                    ACCESS_IP   = #{accessIp}
                ,   ROLE_ID     = #{role}
                <if test="userPwd != null">
                ,	USER_PWD	= #{userPwd}
                </if>
                ,   UPDATE_BY   = #{loginUserId}
                ,   UPDATE_DATE     = NOW()
        WHEN    NOT MATCHED THEN
                INSERT
                (
                    USER_ID
                ,   USER_NAME
                ,   DEPT_CODE
                ,   DEPT_NAME
                ,	USER_PWD
                ,   ACCESS_IP
                ,   ROLE_ID
                ,   CREATE_BY
                ,   CREATE_DATE
                )
                VALUES
                (
                    #{userId}
                ,   #{userName}
                ,   (select DEPT_CODE FROM IF_INSA WHERE TRIM(PERNR) = #{userId})
                ,   #{deptName}
                ,	#{userPwd}
                ,   #{accessIp}
                ,   #{role}
                ,   #{loginUserId}
                ,   NOW()
                );
    </insert>
    
    <select id="searchUserCount" parameterType="map" resultType="ParamMap">
        SELECT  
                COUNT(*) CNT
        FROM    USER_INFO
        WHERE   USER_ID = #{userId}
    </select>
    
    <delete id="deleteUserRole" parameterType="map">
        DELETE  FROM USER_INFO
        WHERE   USER_ID  =  #{userId}
        AND     USER_NAME = #{userName}
    </delete>
    
</mapper>